{% extends "padre.html" %}

{% block head %}

<title>Acerca de nosotros</title>

{% endblock %}

{% block body %}

<h1>Acerca de nosotros</h1>
<h3>Mateo Burella Barco</h3>
<p>Tengo 19 años, soy de San Miguel, Buenos Aires, curso la Técnicatura en Programación en la Universidad de Hurlingham,
    y este es mi segundo curso en Coder, <br>
    el primero que hice fue de Desarrollo de Videojuegos (más por hobbie que otra cosa). En un principio quería estudiar
    algo relacionado con la música,
    <br>pero no encontré nada que me convenciera como para poder conseguir trabajo, así que desde 2021 estoy estudiando
    programación, algo que siempre me interesó, <br>
    y no puedo estar más feliz de haberla elegido.
    <br><br> En cuanto al curso, me costó agarrarle la mano a Django, y creo yo que tuvimos pocas clases para ver una herramienta 
    tan complicada, pero de todas formas me gustó <br>
    y descubrí lo poderoso que puede llegar a ser, así que si llega a haber un curso de Django en el futuro en Coder, seguro me anote jajaja.
</p>

<h3>Damian Ezequiel Defederico</h3>
<p>Naci en Argentina. Tengo 28 años, mi familia esta compuesta por una hermana, Ailen y mis padres, Norberto y Gisela.
    Vivo solo desde los 19,y a los 21 me compre<br> mi primer departamento con un credito hipotecario del banco donde
    trabajaba, el Santander. Despues de eso, a los 24 puse un Bar y cerveceria en Microcentro con 2 amigos, <br>
    el cual me demandaba muchisimo tiempo asi que cerca de los 2 años lo cerramos, justo antes de la pandemia !
    Zafamos!<br>
    <br>
    Hoy en dia, trabajo en otro banco, tengo un auto laburando con un chofer para la aplicacion Cabify, alquilo mi
    departamento a una inquilina que tambien es amiga, y tengo una empresa de rigs de criptomonedas.
    <br>En este momento con el merge de Ethereum se pincho un poco todo con respecto a este rubro.
    Pero ahora estoy full dedicado a aprender todo lo que es backend, me gustaria armar apliaciones tambien para celular
    y programas para hacer trading de criptomonedas.
    Asi que me encuentro comenzando en este mundo divino de la programacion. Es constancia la clave, yo tuve muchos
    errores que eran por mi instalacion los cuales me costo horrores arreglarlos, <br>horas y horas de youtube, por
    suerte
    todo eso me hizo aprender mas rapido, y hoy puedo lograr detectar errores rapidamente.
</p>

{% endblock %}