<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="{% url 'inicio' %}"><h1>Inicio</h1></a>
                {% if request.user.is_authenticated %}
                <img src="{{ imagen }}" width="100">
                <p>{{ user.username }}</p>
                {% endif %}
                <li><a href="{% url 'pages' %}">Ver todos los blogs</a></li>
                <li><a href="{% url 'about_me' %}">Acerca de nosotros</a></li>
                {% if not request.user.is_authenticated %}
                <br>
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
                {% else %}
                <br>
                <li><a href="{% url 'form_blog' %}">Crear blog</a></li>
                <li><a href="{% url 'mis_blogs' %}">Mis blogs</a></li>
                <li><a href="{% url 'mensajes' %}">Mensajes</a></li>
                <li><a href="{% url 'editar_perfil' %}">Editar perfil</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    

    {% block body %}

    {% endblock %}

</body>
</html>