{% extends "padre.html" %}

{% block head %}

    <title>Resultados de búsqueda</title>

{% endblock %}

{% block body %}

    {% if blog %}
    <h1>{{ blog.titulo }}</h1>
    <h3>{{ blog.subtitulo }}</h3>
    <p>{{ blog.fecha_posteo }}</p>
    <br>
    <img src="{{ blog.imagen.url }}" width="300"></img>
    <br>
    <p>{{ blog.cuerpo }}</p>
    {% endif %}
    {% if blogs %}

    <ul>
        {% for blog in blogs %}

        <li>Título: {{ blog.titulo }}</li>
        <li>ID: {{ blog.id_blog }}</li>
        <li></li>

        {% endfor %}
    </ul>

    {% endif %}

{% endblock %}