<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}

    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'form_blog' %}">Crear blog</a></li>
                <li><a href="{% url 'busqueda_blog' %}">Buscar blog</a></li>
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'register' %}">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    

    {% block body %}

    {% endblock %}

</body>
</html>